POSTGRES_DB=wb_db
POSTGRES_USER=admin_wb_db
POSTGRES_PASSWORD=postgres
DB_ENGINE=django.db.backends.postgresql
DB_HOST=localhost
DB_PORT=5432
DEBUG=True
SECRET_KEY='...'
DJANGO_SUPERUSER_USERNAME=Admin
DJANGO_SUPERUSER_EMAIL=mail@mail.ru
DJANGO_SUPERUSER_PASSWORD=Admin
